 /* Basic styling */
 body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #0b0b0b; */
    color: #e0e0e0;
    overflow: hidden;
    overflow-y: auto;
}
.content {
    position: relative;
    text-align: center;
    color: #f1f1f1;
    z-index: 1;
    max-width: 600px;
    margin-top: 2rem;
    width: 90%;
    margin: auto;
    background: transparent;
}
.new-experience {
    background: none;
    border: 1px solid #666;
    border-radius: 25px;
    padding: 5px 15px;
    font-size: 0.9rem;
    color: #ccc;
    margin-bottom: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.new-experience:hover {
    background-color: #333;
}
.header-text {
    font-size: 4rem; /* Increased size */
    font-weight: 700;
    margin: 0;
    background: linear-gradient(90deg, #ffffff, #b0b0b0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.sub-text {
    font-size: 1.1rem;
    font-weight: 400;
    color: #bbbbbb;
    margin-top: 1rem;
}
