.cntr-contentqr {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: stretch;
    justify-content: flex-start;
}
#qrResult svg {
    border-radius: 1rem;
}

div#qrResult {
    display: none;
}

#qrcode {
    display: flex;
    /* width: 300px; */
    height: 300px;
     border: 2px solid #00000000; 
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    flex-direction: column;
    border-radius: 1rem;
    transition: all 0.5s ease; 
}

#qrcode:hover {
    border: 2px solid #ffffffad;
}